---
interface Props {
    title: string
    description: string
    color: string
}

const { title, description, color } = Astro.props
---

<!doctype html>
<html
    lang="en"
    class="bg-zinc-950"
>
    <head>
        <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-NDYRS0B1HH"></script>
        <script is:inline>
            window.dataLayer = window.dataLayer || []
            function gtag(){dataLayer.push(arguments)}
            gtag('consent', 'default', {
                ad_storage: 'denied',
                ad_user_data: 'denied',
                ad_personalization: 'denied',
                analytics_storage: 'denied',
                functionality_storage: 'denied',
                personalization_storage: 'denied',
                security_storage: 'denied'
            })
            gtag('js', new Date())
            gtag('config', 'G-NDYRS0B1HH')
            gtag('consent', 'update', {
                ad_storage: 'granted',
                ad_user_data: 'granted',
                ad_personalization: 'granted',
                analytics_storage: 'granted',
                functionality_storage: 'granted',
                personalization_storage: 'granted',
                security_storage: 'granted'
            })
        </script>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content={description}
        />
        <meta
            name="viewport"
            content="width=device-width"
        />
        <link
            rel="icon"
            type="image/svg+xml"
            href={`/favicon-${color}.svg?v=${Date.now()}`}
        />
        <meta
            name="generator"
            content={Astro.generator}
        />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>
